# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Python / Scraper
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
.env

# IDE / OS
.vscode/
.DS_Store
